.c-folder{
    margin-top: 80px;
    margin-bottom: 100px;
    overflow: hidden;
    justify-content: center;

    &__info{
        margin-bottom: 70px;

        @media only screen and (max-width: 576px) {
            max-width: 100%;
            margin-bottom: 30px;
          }

        &-title{
            font: $font-h1;
            color: $color-title-h1;
            font-weight: bold;
        }

        &-text{
            font: $font-text;

            &-strong{
                font: $font-text;
                color: $color-text-important;
                font-weight: bold;
            }
        }
    }

    &__aanvraag{
        width: 100%;

        &-foto{

            @include media-breakpoint-down(lg) { 
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 3vw;
            }

            @media only screen and (max-width: 576px) {
                width: 80%
              }

            &-brochure{
                width: 24.1vw;           
                @include media-breakpoint-down(lg) { 
                    width: 30vw;
                    margin-right: 0;
                    margin-left: 0;
                    margin-bottom: 3vw;
                }

                @media only screen and (max-width: 576px) {
                    width: 35vw
                  }

            }
        }

        &-formulier{



            &-title{
                font: $font-h2;
                color: $color-title-h2;
                font-weight: bold;
            }

            &-subtitle{
                font: $font-h4;
                color: $color-title-h4;
                font-weight: bold;
                margin-bottom: 30px;
            }

            &-naam{
                margin-bottom: 20px;
            }

            &-email{
                margin-bottom: 22px;
            }

            &-checkbox{
                width: 27px;

                &-text{
                    font: $font-text;
                }
            }
        }

        &-form{
            &-button{
                margin-top: 50px;
                margin-bottom: 62px;
            }
        }
        
        &-info{
                font: $font-text;
            }
    }

    &-box{
        height: 6rem !important;
    }
}

.c-folder__aanvraag-formulier-checkbox[type=checkbox]{
 width: 27px;
 height: 27px;
}
