.c-about {    
    justify-content: center;
    margin: 0;

  &__info {
    justify-content: center;
    margin: 0;
    margin-bottom: 3.5rem;
    margin-top: 4.45rem;

    &-title {
      font: $font-h1;
      font-weight: bold;
      color: $color-title-h1;
      margin-bottom: 20px;
    }

    &-text {
      font: $font-text;
    }

    &-name {
      font: $font-text-footer;
      font-style: italic;
    }

    &-foto{
        width: 39.02vw;

        @include media-breakpoint-down(lg) { 
            width: 55vw;
            margin-top: 5vw;
         }
    }
  }

  &__kopen {
    justify-content: center;
    margin: 0;
    margin-bottom: 89px;

    &-title {
      font: $font-h2;
      color: $color-title-h2;
      margin-bottom: 4.55rem;
    }

    &-internet {
      margin: 0;
      margin-bottom: 40px;
      &-title {
        font: $font-h3;
        font-weight: bold;
        margin-bottom: 35px;
      }
      &-text {
        font: $font-text;
      }

      &-foto-laptop{
          width: 24.07vw;
      }
    }

    &-winkel {
      margin: 0;

      &-title {
        font: $font-h3;
        font-weight: bold;
        margin-bottom: 35px;
      }

      &-text {
        font: $font-text;
      }

      &-foto-verkoper{
          width: 27.91vw;
      }
    }
  }

  &__subtitle {
    margin-top: 85px;
    font: $font-h4;
    color: $color-title-h4;
    font-style: italic;
  }

  &__comfort {
    text-align: center;
    margin-bottom: 56px;

    &-title {
      font: $font-h2;
      color: $color-title-h2;
      margin-bottom: 20px;
    }

    &-text {
      font: $font-text;
    }
  }

  &__weesgerust {
    text-align: center;

    &-title {
      font: $font-h2;
      color: $color-title-h2;
      margin-bottom: 20px;
    }

    &-text {
      font: $font-text;    
      margin-bottom: 35px;
    }

    &-text2{
        font: $font-text;
        margin-bottom: 35px;
    }
  }

  &__proefrit{
    margin-top: 73px;
    margin-bottom: 73px;

    &-title{
        font: $font-h1;
        color: $color-title-h1;
  
        margin: 0;        
        margin-bottom: 43px;
    }

    &-link{
        margin: 0;
    }

    &-link:hover{
        color: #2d2201;
        text-decoration: none;
    }
    
    &-button:hover{
    color: white;
    }
  }

  &__foto{
      width: 56.7vw;
  }
}

