.c-about {
  justify-content: center;

  &__info {
    justify-content: center;
    margin: 0;
    margin-bottom: 3.5rem;
    margin-top: 4.45rem;

    &-title {
      font: $font-h1;
      font-weight: bold;
      color: $color-title-h1;
      margin-bottom: 20px;

    }

    &-text {
      font: $font-text;    
    }

    &-name {
      font: $font-text-footer;
      font-style: italic;
    }

    &-foto {
      width: 39.02vw;
      height: 26vw;

      @include media-breakpoint-down(lg) {
        width: 64vw;
        height: auto;
        margin-top: 5vw;
      }

      @media only screen and (max-width: 576px) {
        justify-content: center;
      }
    }

    &-inhoud {
      @media only screen and (max-width: 576px) {
        max-width: 80%;
        justify-content: center;
        font-size: 12px;
      }
    }
  }

  &__kopen {
    justify-content: center;
    margin: 0;
    margin-bottom: 89px;

    @media only screen and (max-width: 1000px) {
      margin-bottom: 50px;
    }

    &-title {
      font: $font-h2;
      color: $color-title-h2;
      margin-bottom: 4.55rem;
      text-align: center;

      @include media-breakpoint-down(lg) {
        width: 80%;
        margin-bottom: 2vw;
      }

      @media only screen and (max-width: 576px) {
        margin-bottom: 30px;
      }
    }

    &-internet {
      margin: 0;
      margin-bottom: 40px;
      &-title {
        font: $font-h3;
        font-weight: bold;
        margin-bottom: 35px;
      }
      &-text {
        font: $font-text;
      }

      &-foto-laptop {
        width: 24.07vw;

        @include media-breakpoint-down(lg) {
          width: 55vw;
          margin-bottom: 3vw;
        }
      }

      &-info {
        @media only screen and (max-width: 576px) {
          max-width: 80%;
          justify-content: center;
        }
      }
    }

    &-winkel {
      margin: 0;

      &-title {
        font: $font-h3;
        font-weight: bold;
        margin-bottom: 35px;
      }

      &-text {
        font: $font-text;
      }

      &-foto-verkoper {
        width: 27.91vw;
        height: 20vw;

        @include media-breakpoint-down(lg) {
          width: 55vw;
          height: auto;
          margin-top: 2vw;
          margin-bottom: 3vw;
        }

        @media only screen and (max-width: 576px) {
          margin-left: 2vw;
          margin-top: 0vw;
          width: 63vw;
        }

        @media only screen and (max-width: 575px) {
          margin-left: 10vw;
          margin-top: 0vw;
          width: 63vw;
        }
      }

      &-info {
        @media only screen and (max-width: 576px) {
          max-width: 80%;
          justify-content: center;
        }
      }
    }
  }

  &__subtitle {
    margin-top: 85px;
    font: $font-h4;
    color: $color-title-h4;
    font-style: italic;

    @media only screen and (max-width: 1700px) {
      margin-top: 50px;    
    }
    }

  &__comfort {
    margin-bottom: 56px;

    @media only screen and (max-width: 576px) {
      max-width: 80%;
      justify-content: center;
    }

    &-title {
      font: $font-h2;
      color: $color-title-h2;
      margin-bottom: 20px;
    }

    &-text {
      font: $font-text;
    }
  }

  &__weesgerust {

    @media only screen and (max-width: 576px) {
      max-width: 80%;
      justify-content: center;
    }

    &-title {
      font: $font-h2;
      color: $color-title-h2;
      margin-bottom: 20px;
    }

    &-text {
      font: $font-text;
      margin-bottom: 35px;
    }

    &-text2 {
      font: $font-text;
      margin-bottom: 35px;
    }
  }

  &__proefrit {
    margin-top: 73px;
    margin-bottom: 73px;

    @media only screen and (max-width: 1000px) {
      margin-top: 53px;
      margin-bottom: 53px;
    }

    @media only screen and (max-width: 576px) {
      margin-top: 33px;
      margin-bottom: 33px;
    }

    &-title {
      font: $font-h1;
      color: $color-title-h1;

      margin: 0;
      margin-bottom: 43px;
    }

    &-link {
      margin: 0;
    }

    &-link:hover {
      color: #2d2201;
      text-decoration: none;
    }

    &-button:hover {
      color: white;
    }
  }

  &__foto {
    width: 56.7vw;

    @media only screen and (max-width: 576px) {
      width: 79.7vw;

    }
  }

}




  