/*achtergrond-afbeelding*/

.c-container {
    padding: 0;

    &__padding {
        padding-top: 80px;
    }
}

.c-textcenter {
    text-align: center;
}

.c-banner__fiets {
    background-image:
        url("../fotos/world-canyon-electric-city-bikes-02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1091px;
    width: 100%;
    //overflow-x: hidden;
    position: fixed;
    color: white;
    //margin-bottom: 112px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    //padding-left: 40px;
    //padding-right: 40px;
    top: 0;
    left: 0;
}

/*intro van pagina*/
.c-intro {
    min-height: 784px;
    width: 100%;
    background-color: white;
    margin: 0;
    padding-left: 7px;

    &__foto {
        display: flex;
        justify-content: center;
        align-items: center;

        &--g {
            min-height: 569px;

            @include media-breakpoint-down(sm) {
                min-height: 0;
                width: 80%;
            }
        }

        @include media-breakpoint-down(lg) {
            margin-bottom: 100px;
        }
    }

    &__h {
        color: $color-title-h2;
        margin-bottom: 23px;
    }

    &__text {
        font: $font-text2;
        color: $color-nav-item-hover;
        margin-bottom: 28px;

        &--color {
            color: $color-gold;
        }

        &--extra {
            margin-bottom: 170px;
            font: $font-text2;

            @include media-breakpoint-down(sm) {
                margin-bottom: 100px;
            }
        }

        &--tijd {
            display: flex;
            align-items: center;
            font: $font-text2;

            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
            }
        }

        &--responsief {
            margin-bottom: 49px;
        }

        &--responsief2 {
            margin-bottom: 62px;
        }

        &--small {
            font: $font-text-footer;
        }
    }
}

/*text over achtergrondafbeelding*/
.c-textover {
    color: white;
    background-color: rgba(45, 34, 1, 0.4);
    font-size: 35px;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*uur teller*/
.c-uur {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 145px;
}

.c-uur>div {
    background-color: $color-text2;
    height: 188px;
    width: 138px;
    margin-left: 24px;
    text-align: center;
    color: $color-nav-item;
}

.c-uur>div>p {
    font-size: 140px;
    font-family: 'Oxygen';
}

@media only screen and (max-width: 1500px) {
    .c-uur>div {
        height: 150px;
        width: 100px;
    }

    .c-uur>div>p {
        font-size: 100px;
    }
}

@media only screen and (max-width: 1300px) {
    .c-uur {
        margin-left: 0;
    }
}

@media only screen and (max-width: 730px) {
    .c-uur>div {
        height: 100px;
        width: 80px;
    }

    .c-uur>div>p {
        font-size: 60px;
    }
}

/*text, line, icoontjes*/
.c-more {
    background-color: $color-nav-item;
    min-height: 1529px;

    &__blok1 {
        margin-top: 100px;
        max-width: 706px;

        @include media-breakpoint-down(lg) {
            margin: auto;
            margin-top: 100px;
        }
    }

    &__blok2 {
        display: flex;

        @include media-breakpoint-down(lg) {
            justify-content: center;
            margin-bottom: 100px;
        }

        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }
    }
}


.c-icon {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.c-icon>li {
    margin-right: 65px;
}

.c-icons {
    margin-bottom: 40px;
}

.c-line {
    height: 1px;
    max-width: 894px;
    background-color: $color-line;
}

/*form*/

.c-margin {
    margin: auto;
    margin-bottom: 34px;
}

// .c-contact {
//     margin-top: 116px;
//     margin-bottom: 80px;
//     position: relative;

//     .o-label {
//         margin: 0 auto;

//     }

// &__form {
//     margin: 2rem auto;

//     &::before {
//         content: "";
//         //background-image: $blokjes;
//         width: 29.2rem;
//         height: 34.6rem;
//         position: absolute;
//         bottom: 7rem;
//         left: -55rem;
//         z-index: -1;
//     }
// }

// .c-form {

//     &__group {
//         position: relative;
//     }

//     &__label {
//         position: absolute;
//         top: 3.5rem;
//         left: 2.5rem;
//         cursor: text;
//         pointer-events: none;

//         &--message {
//             top: 2.8rem;
//         }
//     }


//     &__input {
//         transition: all .2s;

//         &~.c-form__label {
//             transition: all .2s;
//         }

//         &::placeholder {
//             opacity: 0;
//         }

//         &:not(:placeholder-shown) {

//             // padding-top: 1.25rem;
//             &~.c-form__label {
//                 font-size: 1.2rem;
//                 top: 1rem;
//             }
//         }
//     }
// }
//}