.c-bannerhome {
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/man-biker-sitting-electric-bike.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 805px;
  min-height: 780px;
  position: relative;
  color: white;
  //margin-bottom: 112px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //padding-left: 40px;
  //padding-right: 40px;
  z-index: 1;
  &-content {
    text-align: center;
    min-height: 805px !important;
    align-content: center;
  }
  &__hoofd--h1 {
    font: $font-titel;
    color: white;
    @media only screen and (max-width: 990px) {
      font-size: 30px;
    }
  }

  &__h1 {
    font: $font-h1;
    color: white;

    @media only screen and (max-width: 990px) {
      font-size: 30px;
    }

    &--onder {
      margin-top: 100px;
      margin-bottom: 40px;
    }
  }
  &__deel1 {
    margin-top: -20px;
    margin-bottom: 80px;
  }
  &__deel2 {
    margin-top: 80px !important;
    margin-bottom: -100px !important;
  }
}
// -----------------------------------------------------------------------------------------------------------------
.c-image__fixed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/../img/close-up-sideways-cyclist-holding-e-bike-with-green-wall-background.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
// ----------------------------------------------------------------------------------------------------------------
ul .c-usp__tekst {
  color: $color-usp;
  font: $font-usp;
  list-style-type: none;
  justify-content: center;

  
  @include media-breakpoint-down(lg) { 
    margin-bottom: 20px  
  }

  @include media-breakpoint-down(lg) { 
    margin-bottom: 30px  
  }

    @include media-breakpoint-down(sm) { 
      margin-top: 20px;
    }
}

.c-usp__vink {
  margin-top: -5px;
}
.nb-usp-container {
  // margin: -10px 0 0 !important;
  border: #f7f7f7, solid 1px;
  background: $color-nav-background;
  height: 65px;

  @include media-breakpoint-down(lg) { 
  height: 120px;
}

@include media-breakpoint-down(sm) { 
  height: 300px;
}


}

.nb-usp-content {
  padding-top: 15px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .nb-usp-container {
    margin: -10px -10px 0 !important;
  }
  .nb-usp-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
// ------------------------------------------------------------------------------------------------------------------
.c-uitleg {
  background-color: #fff;
  z-index: 1;
  margin-bottom: 100px;
  

  &__tekst {
    margin-top: 80px;
  }
  &__h1 {
    font: $font-h1;
    color: $color-title-h1;
    font-weight: bold;
  }

  &__p {
    font: $font-text;
    color: $color-text;
    margin-bottom: 20px;
  }

  &__img {
    margin-top: 80px;
    width: 42.5vw;

    @include media-breakpoint-down(lg) { 
      margin-top: 10vw;
      width: 60.5vw;
    }
  }

  &__button {
    @media only screen and (max-width: 490px) {
      font-size: 18px !important;
    }
  }
}


// -----------------------------------------------------------------------------
// 470px voor transparante div
.c-uitproberen {
  background-color: transparent !important;
  z-index: 1;
  max-height: 470px;
  transform: translateY(-400px);
  &__tekst {
    text-align: center;
  }
  &__h1 {
    font: $font-h1;
    color: white;
    @media only screen and (max-width: 500px) {
      font-size: 28px !important;
    }
  }

  &__p {
    font: $font-text;
    color: white;
    margin-bottom: 20px;
    @media only screen and (max-width: 500px) {
      font-size: 18px !important;
    }
  }

  &__strong {
    color: $color-text-important;
    font: $font-text;
  }
}
// ---------------------------------------------------------------------
.o-button {
  border-radius: 32px;
  background-color: $color-button;
  border: $border-button;

  padding: 10px !important;
  padding-left: 40px;
  padding-right: 40px;

  font: $font-button;
  color: $color-text;
}

// -----------------------------------------------------------------------------------------------------

.c-repair {
  //transform: translateY(-300px);

  &__img {
    max-width: 812px;
    margin-top: 50px;
    @media only screen and (max-width: 1919px) {
      max-width: 612px;
    }
    @media only screen and (max-width: 1520px) {
      max-width: 412px;
    }
    @media only screen and (max-width: 990px) {
      margin-left: 100px;
    }
    @media only screen and (max-width: 730px) {
      margin-left: 50px;
    }
    @media only screen and (max-width: 500px) {
      margin-left: -20px;
    }
    @media only screen and (max-width: 430px) {
      margin-left: -40px;
      max-width: 312px;
    }
  }

  &__h1 {
    font: $font-h1;
    color: $color-title-h1;
    margin-top: -250px;
    margin-left: -140px;
    margin-right: 350px;
    @media only screen and (max-width: 1919px) {
      margin-right: 50px;
    }
    @media only screen and (max-width: 1520px) {
      font-size: 28px !important;
      margin-right: 50px;
    }
  }

  &__p {
    margin-left: -140px;
    margin-right: 100px;
    font: $font-text;
    color: $color-text2;
    @media only screen and (max-width: 1520px) {
      font-size: 20px !important;
    }
  }

  &__2 {
    float: right;
    transform: translateY(-300px);
    @media only screen and (max-width: 1919px) {
      transform: translateY(-150px);
    }
    @media only screen and (max-width: 1520px) {
      transform: translateY(-50px);
    }
    @media only screen and (max-width: 1130px) {
      transform: translate(-60px, 300px);
      margin-bottom: 100px;
      max-width: 800px;
    }
    @media only screen and (max-width: 1050px) {
      transform: translate(30px, 300px);
    }
    @media only screen and (max-width: 930px) {
      transform: translate(30px, 300px);
      max-width: 600px;
    }
    @media only screen and (max-width: 730px) {
      transform: translate(30px, 300px);
      max-width: 400px;
    }
    @media only screen and (max-width: 530px) {
      transform: translate(30px, 300px);
      max-width: 300px;
    }
    @media only screen and (max-width: 500px) {
      transform: translate(20px, 300px);
      max-width: 300px;
    }
    @media only screen and (max-width: 430px) {
      transform: translate(50px, 300px);
      max-width: 300px;
    }
    @media only screen and (max-width: 395px) {
      transform: translate(70px, 300px);
      max-width: 250px;
    }
  }
  &__inhoud {
    @media only screen and (max-width: 1050px) {
      margin-left: 50px;
    }
  }
  @media only screen and (max-width: 1130px) {
    margin-bottom: 400px !important;
  }
  @media only screen and (max-width: 395px) {
    margin-bottom: 600px !important;
  }
}

// ---------------------------------------------------------------------------------------------

.c-brochure {
  background-color: #fff;

  &__inhoud {
    text-align: center !important;
    // margin: auto !important;
    padding-bottom: 100px;
  }
  &__h1 {
    color: $color-title-h1;
    padding-top: 50px;
    margin-bottom: 20px;
    padding-left: 800px;
    padding-right: 800px;
    @media only screen and (max-width: 1880px) {
      padding-left: 750px;
      padding-right: 400px;
    }
    @media only screen and (max-width: 1755px) {
      padding-left: 700px;
      padding-right: 400px;
    }
    @media only screen and (max-width: 1668px) {
      padding-left: 650px;
      padding-right: 400px;
    }
    @media only screen and (max-width: 1583px) {
      padding-left: 600px;
      padding-right: 400px;
    }
    @media only screen and (max-width: 1330px) {
      padding-left: 500px;
      padding-right: 400px;
    }
    @media only screen and (max-width: 1320px) {
      padding-left: 300px;
      padding-right: 400px;
    }
    @media only screen and (max-width: 1080px) {
      padding-left: 200px;
      padding-right: 200px;
    }
    @media only screen and (max-width: 682px) {
      padding-left: 100px;
      padding-right: 100px;
    }
    @media only screen and (max-width: 530px) {
      padding-top: 150px;
    }
    @media only screen and (max-width: 480px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media only screen and (max-width: 400px) {
      padding-top: 50px;
    }
    @media only screen and (max-width: 380px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__p {
    color: $color-text;
    font: $font-text;
    text-align: center;
    max-width: 812px;
    margin: auto;
    margin-bottom: 40px;
  }
}
