.c-product__fotogroep {
  margin-top: 100px;
  @media only screen and (max-width: 1200px) {
    margin-left: 90px !important;
  }
}

.c-product__fotosklein {
  position: absolute;
  z-index: 1;
  align-items: center;
  margin-left: -10px;
}

.c-product__fotogroot {
  position: relative;
  border: 1px solid grey;
  padding: 20px;
  z-index: -1;
  max-width: 900px;
  margin-left: 70px;

  &--img {
    max-width: 100%;
    width: 828px;
  }
}

.c-product__fotosklein--onderdeel {
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  @media only screen and (max-width: 1100px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 1000px) {
    max-width: 75%;
  }
  @media only screen and (max-width: 800px) {
    max-width: 50%;
  }
  @media only screen and (max-width: 620px) {
    max-width: 40%;
  }
  @media only screen and (max-width: 520px) {
    max-width: 30%;
  }
}

.fa-chevron-up,
.fa-chevron-down {
  margin-left: 20px;
}

.c-product__info--kleurfietsafbeelding {
  max-width: 80px;
  height: auto;
}

.c-product__info {
  margin-top: 100px;

  &--h1 {
    color: #2d2201;
  }
  &--h2 {
    color: #d2b02a;
  }
  &--h3 {
    color: #707070;
  }

  &--kleurfietsduo {
    text-align: center;
    max-width: 120px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
  }
  @media only screen and (max-width: 1200px) {
    margin-left: 100px !important;
  }
}

// .c-productdetail__select {
//   font-size: 20px !important;
//   width: 300px;
// }

.c-productdetail__linkverzekering {
  text-decoration: underline solid 1px #707070;
  color: #707070;
}

.c-input__select--product {
  width: 60px !important;
  text-align: center;
  margin: 10px;
}

// ---------------------------------------------------------------------

.c-uitleg {
  @media only screen and (max-width: 1200px) {
    margin-left: 100px !important;
  }
}

.fa-plus-circle {
  color: #127702;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.fa-minus-circle {
  color: #ce0a0a;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.c-productdetail__uitlegblok {
  margin-top: 100px;
}

.c-productdetail__uitlegtekst {
  margin-bottom: 100px;

  &--h3 {
    color: #705e16;
  }

  &--p {
    max-width: 882px;
    font-size: 20px;
  }
}

.c-productdetail__punten {
  max-width: 776px;
  font-size: 20px;
  @media only screen and (max-width: 1650px) {
    max-width: 676px;
  }
}

.c-productdetail__tables {
  margin-top: 100px;
}

.c-table {
  max-width: 490px;
  font-family: "Oxygen", sans-serif;
}

.c-table2 {
  max-width: 490px;
  font-family: "Oxygen", sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.c-table__rechts {
  text-align: right;
  padding-right: 10px;
}

.c-table__links {
  padding-left: 10px;
}

tr:nth-child(even) {
  background-color: rgba(210, 176, 42, 0.39);
}

th {
  text-decoration: underline;
  font-weight: normal;
}

.c-personaliseer {
  border: 1px solid;
  padding: 20px;
  max-width: 490px;

  &__lijn {
    max-width: 420px;
    border: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__h3 {
    color: #d2b02a;
  }
}
