@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Raleway);


$color-nav-active: #030303;
$color-nav-item: #FFFFFF;
$color-nav-item-hover: #2D2201;

$color-title-h1: #705E16;
$color-title-h2: #705E16;
$color-title-h3: #000000;
$color-title-h4: #705E16;


$color-gold: #D2B02A;
$color-button: #D2B02A;
$color-text: #000000;
$color-text-important: #D2B02A;
$color-text-form: #D2B02A;
$color-nav-background: #705e16;
$color-footer: #574E33;


$border-button: 2px solid #705E16;

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
}

h2 {
    font-size: 35px;
    font-family: 'Oxygen', sans-serif;

}

h3 {
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
}

$font-size-text1: 26px;
$font-fam-text1: 'Raleway',
sans-serif;

$font-size-text2: 24px;
$font-fam-text2: 'Raleway',
sans-serif;

$font-size-text3: 20px;
$font-fam-text3: 'raleway',
sans-serif;