$color-nav-active: #030303;
$color-nav-item: #ffffff;
$color-title-h1: #705e16; 
$color-gold: #d2b02a;
$color-button: #d2b02a;
$color-text: #000000;
$color-footer: #574E33;

$border-button: 2px solid #705E16;
$border-radius-button: 
