body {
    font-size: 1.6rem;
    font-family: 'Oxygen', sans-serif;
}

.top-nav {
    background-color: #EFEFEF;
    min-height: 110px;

    @include media-breakpoint-down(md) {
        justify-content: center;
        padding: 0;
    }
}

.c-zoek {
    &__balk {
        margin-top: 40px;
        margin-left: 125px;
        max-width: 375px;
        max-height: 25px;

        @include media-breakpoint-down(md) {
            margin: 0 !important;
            max-width: 300px;
        }
    }

    @include media-breakpoint-down(md) {
        display: none !important;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1600px) {
    .c-zoek {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1600px) {
    .c-zoek__balk {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        max-height: 65px;
    }
}

.c-toplist {
    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
        padding-left: 15px !important;
    }
}

.c-topnav {
    overflow: hidden;
    border-bottom: 1px solid black;

    &__input {
        max-width: 340px;
        width: 100%;

        @media only screen and (max-width: 1604px) {
            width: auto;
        }
    }

    &__button {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1600px) {
    // .c-topnav__input {
    //     height: 20px;
    // }

    .c-topnav__button {
        height: 20px;
    }

    .c-topnav__button>img {
        height: 20px;
    }
}

.c-topnav .search-container {
    float: right;
    width: 100%;
}

.c-topnav input[type=text] {
    //padding: 6px;
    //margin-top: 8px;
    font-size: 1.5rem;
    font-family: 'Raleway';
    border: none;
    background-color: #EFEFEF;
}

.c-topnav .search-container button {
    float: left;
    background: #EFEFEF;
    border: none;
    cursor: pointer;
    height: 100%;
}

/*logo*/

.c-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
        display: none;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

/*rechterkant linken + winkelmandje*/
.c-topnavigation {
    height: 100%;
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;
    margin-bottom: 0;
    z-index: 1;
    //right: -45px;


    font-size: 24px;
    font-family: 'Oxygen';

    &__line {
        border-right: 1px solid $color-title-h3;

        @include media-breakpoint-down(md) {
            border-right: 1px solid $color-nav-item;
        }
    }

    @include media-breakpoint-down(md) {
        display: flex;
        justify-content: center;
        padding-left: 0;
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 1600px) {
    .c-topnavigation {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1264px) {
    .c-topnavigation {
        font-size: 16px;
    }
}

.c-topnavigation>li {
    margin-right: 8px;
    padding-right: 8px;
    margin-top: 16px;
}

.c-topnavigation>li>a {
    text-decoration: none;
    color: $color-title-h3;

    @include media-breakpoint-down(md) {
        color: $color-nav-item;
    }
}

.c-topnavigation>li>a:hover {
    color: $color-gold;
}

.c-topnavigation>li>a:active {
    color: $color-title-h1;
}

/* responsive nav structuur*/

.c-navover {
    padding: 0;

    &__nav {

        @include media-breakpoint-down(md) {
            position: fixed;
            width: 100%;
            top: 0;

            .bg-light {
                background-color: #EFEFEF !important;
            }
        }
    }

    &__topnav {
        @include media-breakpoint-down(md) {
            margin-top: 100px;

            .top-nav {
                background-color: $color-nav-background;
            }
        }
    }
}

.navbar-light .navbar-nav .nav-link {

    @include media-breakpoint-down(md) {
        color: $color-nav-active !important;
    }
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    @include media-breakpoint-down(md) {
        color: $color-title-h1 !important;
    }
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    @include media-breakpoint-down(md) {
        color: $color-gold !important;
    }
}

.c-navitem-zoekbalk {
    display: none;

    @include media-breakpoint-down(md) {
        display: flex;
    }
}